<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.cloudcoding.auth.infrastructure.mapper.UserPositionMapper">

    <select id="selectUserByPositionId" resultType="cc.cloudcoding.auth.model.po.UserPO">
        select u.id,
               u.nickname,
               u.avatar,
               u.sex,
               u.status,
               u.create_time,
               u.update_time
        from user u
                 left join user_position up on u.id = up.user_id
                 right join position p on up.position_id = p.id
        where up.position_id = #{positionId}
    </select>
    <select id="selectPositionByUserId" resultType="cc.cloudcoding.auth.model.po.PositionPO">
        select p.id,
               p.name,
               p.create_time,
               p.update_time
        from position p
                 left join user_position up on p.id = up.position_id
                 right join user u on up.user_id = u.id
        where up.user_id = #{userId}
    </select>
</mapper>
