<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.cloudcoding.comment.infrastructure.mapper.CommentMapper">


    <select id="getCount" resultType="java.lang.Long">
        WITH RECURSIVE Tree AS (SELECT id, parent_id, 1 AS level
                                FROM `comment`
                                WHERE parent_id = #{id} -- 这里使用 MyBatis 参数占位符
                                UNION ALL
                                SELECT t.id, t.parent_id, Tree.level + 1
                                FROM `comment` AS t
                                         JOIN Tree ON t.parent_id = Tree.id)
        SELECT COUNT(*) AS total_rows
        FROM Tree;
    </select>
</mapper>
