
@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}


html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}